<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-work-day-heading" jhiTranslate="macbillApp.workDay.home.createOrEditLabel">Create or edit a Work Day</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!workDay.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="workDay.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="macbillApp.workDay.allDay" for="field_allDay">All Day</label>
                    <input type="checkbox" class="form-control" name="allDay" id="field_allDay"
                        [(ngModel)]="workDay.allDay" />
                    <div [hidden]="!(editForm.controls.allDay?.dirty && editForm.controls.allDay?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.allDay?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="macbillApp.workDay.draggable" for="field_draggable">Draggable</label>
                    <input type="checkbox" class="form-control" name="draggable" id="field_draggable"
                        [(ngModel)]="workDay.draggable" />
                    <div [hidden]="!(editForm.controls.draggable?.dirty && editForm.controls.draggable?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.draggable?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="macbillApp.workDay.end" for="field_end">End</label>
                    <div class="input-group">
                        <input id="field_end" type="text" class="form-control" name="end" ngbDatepicker  #endDp="ngbDatepicker" [(ngModel)]="workDay.end"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.end?.dirty && editForm.controls.end?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.end?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="macbillApp.workDay.start" for="field_start">Start</label>
                    <div class="input-group">
                        <input id="field_start" type="text" class="form-control" name="start" ngbDatepicker  #startDp="ngbDatepicker" [(ngModel)]="workDay.start"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.start?.dirty && editForm.controls.start?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.start?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="macbillApp.workDay.title" for="field_title">Title</label>
                    <div class="input-group">
                        <input id="field_title" type="text" class="form-control" name="title" ngbDatepicker  #titleDp="ngbDatepicker" [(ngModel)]="workDay.title"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="titleDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="macbillApp.workDay.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="workDay.userId"  required>
                        <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="macbillApp.workDay.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" [(ngModel)]="workDay.customerId"  required>
                        <option *ngIf="!editForm.value.customer" [ngValue]="null" selected></option>
                        <option [ngValue]="customerOption.id" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.customer?.dirty && editForm.controls.customer?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.customer?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
